@model LEGITIM.DISTRIBUIDORA.Web.Models.Usuarios.CadastraUsuarioCoordenadorViewModel
@{
    ViewBag.Title = "Associar Coordenadores";
    var Resultado = ViewBag.Resultado;
    var Programas = ViewBag.Programas as SelectList;
    var Professores = ViewBag.Professores;
}

<div class="table-responsive">
    @using (Html.BeginForm("CadastraUsuarioCoordenador", "Usuario", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <div class="form-group ">
                @Html.LabelFor(model => model.ProgramaId, htmlAttributes: new { @class = "control-label" })<span style="color:red;"> *</span>
                <br />
                @Html.DropDownListFor(model => model.ProgramaId, Programas, "--- SELECIONE ---", new { @name = "Programa",  @class = " select2", @style = "width:100%" })
                @Html.ValidationMessageFor(model => model.ProgramaId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group ">
                @Html.LabelFor(model => model.CoordenadorId, htmlAttributes: new { @class = "control-label" })<span style="color:red;"> *</span>
                <br />
                @Html.DropDownListFor(model => model.CoordenadorId, new SelectList(Professores, "Id", "Nome", Model.CoordenadorId), "--- SELECIONE ---", new { @name = "coordenador", @class = " select2", @style = "width:100%" })
                @Html.ValidationMessageFor(model => model.CoordenadorId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group ">
                @Html.LabelFor(model => model.CoordenadorAdjuntoId, htmlAttributes: new { @class = "control-label" })
                <br />
                @Html.DropDownListFor(model => model.CoordenadorAdjuntoId, new SelectList(Professores, "Id", "Nome", Model.CoordenadorAdjuntoId), "--- SELECIONE ---", new { @name = "adjunto", @class = " select2", @style = "width:100%" })
                @Html.ValidationMessageFor(model => model.CoordenadorAdjuntoId, "", new { @class = "text-danger" })
            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary" id="btnAdicionar" type="submit">
                <i class="fa fa-save"></i>
                Cadastrar
            </button>
            <a href="@Url.Action("ListarCoordenador")" class="btn btn-primary">
                <span><i class="fa fa-edit"></i>Listar</span>
            </a>
            <button type="reset" class="btn btn-default" data-dismiss="modal"> Limpar </button>
            <button type="button" onclick="goBack()" class="btn btn-default"> Voltar </button>
        </div>
    }
</div>
<script src="~/Scripts/Custom/CadastraUsuarioCoordenadorOrientacaoScripts.js" type="text/javascript"></script>
