@model IEnumerable<LEGITIM.DISTRIBUIDORA.Web.Models.Usuarios.UsuarioViewModel>

@{
    ViewBag.Title = "Gerenciar Coordenadores";
    ViewBag.Aviso = "Não Existem Coordenadores Cadastrados";
}

<a href="@Url.Action("CadastraUsuarioCoordenador")" class="btn btn-success btn-xs">
    <span><i class="fa fa-user-plus"></i>Adicionar</span>
</a>

<br />
<br />

<div class="table-responsive table-striped">
    @if (Model != null && Model.Count() > 0)
    {
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th class="hasinput">
                        <input id="column1" type="text" class="form-control" placeholder="Filtrar Aluno" />
                    </th>

                    <th class="hasinput">
                        <input id="column2" type="text" class="form-control" placeholder="Filtrar Linha de Pesquisa" />
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Sigla)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NomeCoordenador)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Curso)
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="item">
                        <td>
                            @item.Sigla
                        </td>
                        <td>
                            @item.Nome
                        </td>
                        <td>
                            @item.NomeCoordenador
                        </td>
                        <td>
                            @item.Curso
                        </td>
                        <td>
                            <a href="@Url.Action("CadastraUsuarioCoordenador", new { programaId = item.Id, resultado = "" })" class="btn btn-primary btn-xs">
                                <span><i class="fa fa-edit"></i>Editar</span>
                            </a>
                        </td>
                       
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @ViewBag.Aviso
        </div>
    }
</div>