@using LEGITIM.DISTRIBUIDORA.Web.Utils.Usuarios
@{
    string pathcompleto = "";
    var Usuario = UsuarioAtual.getUsuarioLogado();
    string host = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);

    if (Usuario != null && Usuario.PathPhoto != null && Usuario.PathPhoto != null && Usuario.PathPhoto.ToList().Count > 0)
    {
        pathcompleto = "/Content/UsuarioPhoto/" + "/" + Usuario.FolderPhotos + "/" + Usuario.PathPhoto;
    }
}

@if (UsuarioAtual.getUsuarioLogado() != null)
{
    if (pathcompleto != "")
    {
        <div class="login-info" style="height: 80px;">
            <span style="height: 78px;">
                <a href="@Url.Action("EditarUsuario" , "Usuario", new { userId =  Usuario.Id })">
                    <img style="height: 70px; width:70px" src="@Url.Content(pathcompleto)" alt="me" class="online" />
                    <span> @Usuario.Nome</span>
                </a>
            </span>
        </div>
    }
    else
    {
        <div class="login-info" style="height: 80px;">
            <span style="height: 78px;">
                <a href="@Url.Action("EditarUsuario", "Usuario", new { userId =  Usuario.Id })">
                    <img style="height: 70px; width:70px" class="img-circle" src="~/Content/img/profile_small.jpg" />
                    <span> @Usuario.Nome</span>
                </a>
            </span>
        </div>
    }
}